@import '~@angular/material/theming';

@mixin cardStyle($theme) {
  $config: mat-typography-config();

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $shadows: map-get($theme, shadows);

  .moneytor-body {
    .mt-card {
      cursor: pointer;
      box-shadow: -1px 13px 20px 0 #f0f2f4;
      border-radius: 5px;
      background: mat-color($background, bg);
      &.no-padding {
        padding: 0;
      }
      &.full-height {
        height: 100%;
        &.h-150 {
          height: 150px;
        }
      }
      &.img {
        padding: 0;
        // background: transparent;
      }
    }
    .mt-card-header {
      margin-bottom: 10px;
      padding: 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .mt-card-title {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.6;
      }
      .mt-card-subtitle {
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: mat-color($foreground, secondary-text);
      }
    }
    .mt-card-header-img {
      display: flex;
      align-items: center;
      justify-content: space-around;
      &.bordered {
        border: 1px solid mat-color($background, disabled);
        border-radius: 6px;
      }
    }
    .mt-card-body {
      padding: 0 10px;
      font-size: 14px;
      color: mat-color($foreground, text);
    }
    .mt-card-footer {
      display: flex;
      align-items: center;
      &.absolute {
        position: absolute;
        bottom: 0;
        width: calc(100% - 20px);
        left: 0;
        padding: 0 10px;
      }
      p {
        margin: -15px;
        padding-left: 14px;
        padding-bottom: 5px;
      }
    }

    .mat-snack-bar-container {
      background: mat-color($background, primary);
      color: mat-color($background, white);
      font-weight: 500;
      box-shadow: mat-color($shadows, shadow);
      &.error,
      &.failed,
      &.failure {
        background: mat-color($background, error);
      }
      &.warning {
        background: mat-color($background, warning);
      }
      &.success,
      &.Success {
        background: mat-color($background, success);
      }
      .mat-simple-snackbar {
        font-size: 14px;
        .mat-simple-snackbar-action {
          color: mat-color($background, white);
          font-weight: 600;
          button {
            max-height: 36px;
            min-width: 0;
            font-size: 13px;
            padding: 0 10px;
            line-height: 30px;
            border-radius: 4px;
            border: 1px solid mat-color($background, white);
          }
        }
      }
    }
  }
}
