[class^='ic_'],
[class*=' ic_'] {
  font-family: 'moneytor' !important;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: currentColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic_small {
  font-size: 15px;
  height: 15px;
  width: 15px;
}
.ic_arrow-right {
  transform: rotate(180deg);
}
// copy of .ic_non-verified
.ic_cross:before {
  content: '\e919';
}

.ic_arrow-left:before,
.ic_arrow-right:before {
  content: '\e901';
}
.ic_action:before {
  content: '\e900';
}
.ic_burger:before {
  content: '\e902';
}
.ic_call-log:before {
  content: '\e903';
}
.ic_callback:before {
  content: '\e904';
}
.ic_delete:before {
  content: '\e905';
}
.ic_dot:before {
  content: '\e906';
}
.ic_download:before {
  content: '\e907';
}
.ic_email:before {
  content: '\e908';
}
.ic_expired-account:before {
  content: '\e909';
}
.ic_fb:before {
  content: '\e90a';
}
.ic_filters:before {
  content: '\e90b';
}
.ic_grow-up:before {
  content: '\e90c';
}
.ic_high-value:before {
  content: '\e90d';
}
.ic_home-solid:before {
  content: '\e90e';
}
.ic_instagram:before {
  content: '\e90f';
}
.ic_ivr:before {
  content: '\e910';
}
.ic_lamp:before {
  content: '\e911';
}
.ic_linkedin:before {
  content: '\e912';
}
.ic_logo-old:before {
  content: '\e913';
}
.ic_logo:before {
  content: '\e914';
}
.ic_low-value:before {
  content: '\e915';
}
.ic_mobile:before {
  content: '\e916';
}
.ic_next:before {
  content: '\e917';
}
.ic_non-primary:before {
  content: '\e918';
}
.ic_non-verified:before {
  content: '\e919';
}
.ic_notification-outline:before {
  content: '\e91a';
}
.ic_paid:before {
  content: '\e91b';
}
.ic_part-paid:before {
  content: '\e91c';
}
.ic_pending:before {
  content: '\e91d';
}
.ic_primary:before {
  content: '\e91e';
}
.ic_ptp:before {
  content: '\e91f';
}
.ic_question-outline:before {
  content: '\e920';
}
.ic_quote:before {
  content: '\e921';
}
.ic_refresh:before {
  content: '\e922';
}
.ic_rejected:before {
  content: '\e923';
}
.ic_said-yes:before {
  content: '\e924';
}
.ic_settings:before {
  content: '\e925';
}
.ic_sms:before {
  content: '\e926';
}
.ic_sort:before {
  content: '\e927';
}
.ic_twitter:before {
  content: '\e928';
}
.ic_unaction:before {
  content: '\e929';
}
.ic_upload:before {
  content: '\e92a';
}
.ic_verified:before {
  content: '\e92b';
}
.ic_visit:before {
  content: '\e92c';
}
.ic_wallet-outline:before {
  content: '\e92d';
}
.ic_whatsapp-1:before {
  content: '\e92e';
}
.ic_whatsapp:before {
  content: '\e92f';
}
.ic_telegram:before {
  content: '\ea95';
}
