@import '~@angular/material/theming';

@mixin layoutStyle($theme) {
  $config: mat-typography-config();

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $shadows: map-get($theme, shadows);

  .moneytor-body {
    .section {
      background: mat-color($background, bg);
    }
    .block-container {
      padding: 70px 10px;
    }
    // this class will use to show the button's shadows etc to make it different
    .raised {
      border-radius: 3px;
      background: mat-color($background, bg);
      box-shadow: mat-color($shadows, shadow1);
      color: mat-color($background, primary);
    }

    .blocks {
      box-shadow: mat-color($shadows, shadow);
      opacity: 0.9;
      color: mat-color($background, white);
      text-align: center;
      padding: 8px;
      min-height: 50px;
      border-radius: 3px;
    }
    [class^='title-'],
    [class*=' title-'] {
      margin: 0 0 16px;
      line-height: 1.32;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.9px;
    }
    .title-large {
      font-size: 300%;
      font-weight: 300;
      color: mat-color($background, white);
    }
    .title-small {
      font-size: 18px;
      font-weight: 600;
      color: mat-color($background, white);
    }

    .flexRow {
      display: flex;
    }

    .container {
      max-width: 85%;
    }

    // for investors section
    .mt-inv-bg {
      background: mat-color($background, blue-gray);
    }

    // for media coverage section
    .mt-media-cov-bg {
      background: mat-color($background, base-bg);
    }
    // for contact us section
    .mt-contact-bg {
      background: rgba(105, 121, 248, 0.24);
    }
    .mt-contact-us-subtitle {
      margin: 0 0 16px;
    }

    // for clear dept
    .clear-dept-bg {
      background-color: #3d1b65;
      padding: 20px 40px;
      border-radius: 5px;
    }
    // for ngx swipper
    .box-container {
      box-sizing: border-box;
      width: 100%;
      min-height: 300px;
      &.inv {
        min-height: 130px;
      }
    }

    .action-container,
    .content-container {
      position: relative;
      overflow: auto;
    }

    .action-container {
      padding: 16px;
    }

    .vertical-container,
    .horizontal-container {
      min-height: 0 !important;
    }

    .action-button {
      box-sizing: border-box;
      width: calc(100% - 16px);
      min-height: 35px;
      padding: 4px 16px;
      margin: 8px;
      border: 1px solid #555;
      border-radius: 4px;

      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      text-align: center;
    }

    .action-button:hover {
      color: #fff;
      background-color: #555;
    }

    .swiper-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    swiper > .swiper.s-wrapper .swiper-wrapper .swiper-slide {
      overflow: hidden;
    }
    .swiper-slide-active .mt-card {
      background-color: rgba(142, 155, 250, 0.14);
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 0px;
    }
    .mt-pagination-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .mt-pagination {
        display: flex;
        align-items: center;
        height: 55px;
        text-align: center;
        span.swiper-pagination-bullet {
          outline: none;
          margin-right: 5px;
          width: 16px;
          height: 16px;
          &.swiper-pagination-bullet-active {
            background: mat-color($background, primary);
          }
        }
      }
    }
    //   //  this is the custom style to be applied to hide the next and prev button on ngx swiper
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }

    // for footer section
    .mt-footer-bg {
      background: mat-color($background, voilet-dark);
      color: mat-color($background, white);
    }

    @media screen and (max-width: 959px) {
      .title-large {
        font-size: 40px;
      }
    }
  }
}
