@import '~@angular/material/theming';

@mixin navBarStyle($theme) {
  $config: mat-typography-config();

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $shadows: map-get($theme, shadows);

  .moneytor-body {
    .mt-container {
      font-family: 'Avenir', 'Avenir-LT-Std-Light', 'Avenir-LT-Std-Book',
        'Avenir-LT-Std-Roman';
      .mat-drawer-container {
        background: mat-color($background, base-bg);
        height: 100%;
        overflow: hidden;
        .mat-drawer {
          width: 220px;
          position: fixed;
          background-color: mat-color($background, voilet-dark);
          color: mat-color($background, white);
          &.mat-drawer-side {
            z-index: 1;
          }
          .mat-nav-list {
            padding-top: 0;
            .mat-list-item {
              background: mat-color($background, voilet-light);
              color: mat-color($background, white);
              &:hover {
                background: mat-color($background, primary);
              }
              &.mt-nav-active {
                transition: 0.5s all;
                background: mat-color($background, primary);
              }
              &:hover,
              &.mt-nav-active {
                &:before {
                  content: '';
                  position: absolute;
                  transition: 0.5s all;
                  width: 5px;
                  top: 0;
                  left: 0;
                  z-index: 1;
                  height: 100%;
                  border-left: 5px solid mat-color($background, success);
                }
              }
              .navIcon {
                margin-right: 10px;
              }
            }
          }

          .logo-container {
            height: 64px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
        .mat-drawer-content {
          .mt-content-wrapper {
            padding-top: 64px;
            overflow: hidden;
            &.mt-mobile-content-wrapper {
              padding-top: 0;
            }
          }
          .mt-toolbar {
            position: fixed;
            top: 0;
            z-index: 999;
            display: flex;
            box-sizing: border-box;
            padding: 0 16px;
            width: 100%;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            box-shadow: none;
            background: mat-color($background, transparent);
            .mt-toolbar-item {
              color: mat-color($background, white);
              font-size: 14px;
              margin: 0 0.5rem;
              text-decoration: none;
              padding: 11px;
              transition: 0.5s all;
              &:hover,
              &.mt-nav-active {
                &:before {
                  content: '';
                  transition: 0.5s all;
                  position: absolute;
                  height: 3px;
                  background: mat-color($background, white);
                  width: 100%;
                  top: 0;
                  left: 0;
                  border-radius: 4px;
                }
              }
              &.raised {
                border-radius: 3px;
                color: mat-color($background, primary);
                padding: 11px 22px;
              }
            }
            .nav-item-container {
              padding-right: 5%;
            }
            &.navbar-primary {
              background: mat-color($background, primary);
              box-shadow: mat-color($shadows, shadow1);
            }
          }
        }
        // .mt-page-wrapper {
        //   padding: 64px 0px;
        // }
      }
      // &.mt-is-mobile {
      //   .mat-drawer-container {
      //     background: mat-color($background, base);
      //     .mt-toolbar {
      //       &.side-bar-open {
      //         width: 100%;
      //       }
      //     }
      //   }
      // }
    }
  }
}
