<div>
  <div fxFlex="100%" fxLayoutAlign="center">
    <mt-h1 class="txt-black ta-c">Our Investors & Accelerators</mt-h1>
  </div>
</div>

<!-- ngx swipper -->
<div class="box-container investors">
  <div class="vertical-container" fxLayout="column" fxFlex="100%">
    <div class="content-container" fxLayout="column" fxFlex="auto">
      <swiper
        #swiperEl
        *ngIf="show"
        class="swiper-container"
        [config]="config"
        [disabled]="false"
        (indexChange)="onIndexChange($event)"
        (swiperTransitionStart)="onSwiperEvent('transitionStart')"
        (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
        fxFlex="auto"
      >
        <div
          *ngFor="let investor of investorsList; let i = index"
          class="swiper-slide"
          matRipple
          matRippleColor="rgba(142, 155, 250, 0.196)"
        >
          <div class="mt-card-header-img">
            <img
              [src]="investor.imgUrl"
              [alt]="investor.name"
              height="110"
              width="274"
            />
          </div>
        </div>
      </swiper>
    </div>
  </div>
</div>
<div>
  <div class="mt-pagination-wrapper">
    <div class="mt-pagination mt-inv-pg"></div>
  </div>
</div>
