.investors {
  width: 1400px;
  margin: 0px auto;
}

.mt-pagination-wrapper {
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .investors {
    width: 100%;
    margin: 0px auto;

    .mt-card-header-img img {
      width: 300px;
    }
  }

  .mt-pagination-wrapper {
    padding: 0px !important;
  }
}
