<div class="block-container mt-footer-bg">
  <div
    class="links"
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    fxlayoutAlign.lt-sm="space-between"
  >
    <div
      class="logo"
      fxLayout="column"
      fxFlex="30%"
      fxFlex.lt-md="55%"
      fxFlex.lt-sm="100%"
    >
      <img
        src="../../../assets/img/logo/logo_light_new.png"
        alt="moneytor.in"
        width="200px"
        height="39px"
      />
    </div>
    <div
      class="quick-links"
      fxLayout="column"
      fxFlex="20%"
      fxFlex.lt-md="20%"
      fxFlex.lt-sm="45%"
    >
      <mt-h3>{{ 'QuickLinks' | translate }}</mt-h3>
      <ng-container *ngFor="let item of quickLinks">
        <mt-body-large class="mb-0">
          <a class="mt-btn link secondary" (click)="onLinksAction(item)">{{
            item.name
          }}</a>
        </mt-body-large>
      </ng-container>
    </div>
    <div
      class="company"
      fxLayout="column"
      fxFlex="35%"
      fxFlex.lt-md="50%"
      fxFlex.lt-sm="100%"
    >
      <mt-h3>{{ 'Company' | translate }}</mt-h3>
      <ng-container *ngFor="let item of companyLinks; let i = index">
        <mt-body-large class="mb-0 socialIconsDiv">
          <span class="socialIcons">
            <img
              [src]="item.icon"
              alt="item.name"
              class="company-icon"
              [style.width]="getCompanyIconWidth(i)"
              [ngStyle]="
                i === 0
                  ? {
                      width: '20px',
                      height: '20px',
                      'margin-left': '5px',
                      'margin-bottom': '7px'
                    }
                  : null
              "
            />
          </span>
          <a
            class="mt-btn link secondary pl-10"
            (click)="onLinksAction(item)"
            >{{ item.name }}</a
          >
        </mt-body-large>
      </ng-container>
    </div>

    <div class="our-branches" fxLayout="column">
      <mt-h3>{{ 'OurBranches' | translate }}</mt-h3>
      <div fxLayout="column">
        <ng-container *ngFor="let item of companyBranches">
          <mt-body-medium class="mb-0">
            <div class="txt-secondary-text">{{ item }}</div>
          </mt-body-medium>
        </ng-container>
      </div>
    </div>
  </div>

  <div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="85%" fxFlex.md="95%" fxFlex.xs=" 90%">
        <div class="footer-border mb-10"></div>
        <div
          fxLayout="row"
          fxLayout.lt-sm="row wrap-reverse"
          fxLayoutAlign.lt-sm="center center"
          fxLayoutAlign="space-between"
        >
          <div fxLayout="column" class="desktop-copyright">
            <mt-body-large class="txt-secondary"
              >© Copyright 2025 Moneytor Inc. - AGGRA TECHNOLOGIES PRIVATE
              LIMITED</mt-body-large
            >
          </div>
          <div fxLayout="column">
            <div fxLayout="row">
              <ng-container>
                <span>
                  <a
                    href="https://www.facebook.com/profile.php?id=100070987800052"
                  >
                    <img
                      class="ic_facebook"
                      style="width: 30px; height: 30px;"
                      src="../../../assets/icons/facebook_new.png"
                      alt="Facebook Icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="https://twitter.com/MoneytorNPA">
                    <img
                      class="ic_twitter"
                      style="width: 30px; height: 30px;"
                      src="../../../assets/icons/twitter_new.png"
                      alt="Twitter Icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="https://www.linkedin.com/company/13614247/admin/">
                    <img
                      class="ic_linkin"
                      style="width: 30px; height: 30px;"
                      src="../../../assets/icons/linkdin_new.png"
                      alt="LinkedIn Icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="https://t.me/moneytor_help">
                    <img
                      class="ic_telg"
                      style="width: 30px; height: 30px;"
                      src="../../../assets/img/icon/telegram_new.png"
                      alt="Telegram Icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="https://www.instagram.com/moneytornpa/">
                    <img
                      class="ic_insta"
                      style="width: 30px; height: 30px;"
                      src="../../../assets/icons/insta_new.png"
                      alt="Instagram Icon"
                    />
                  </a>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="showModal">
    <mt-modal
      [title]="modalData.header"
      [buttons]="modalBtns"
      (onAction)="onModalAction($event)"
    >
      <div class="p-15" [innerHTML]="modalData.body"></div>
    </mt-modal>
  </ng-container>
</div>

<div class="footer-copyright">
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    style="background-color: black;"
  >
    <mt-body-large class="txt-secondary-txt"
      >© Copyright 2020 Moneytor Inc. All rights reserved.</mt-body-large
    >
  </div>
</div>
