<div class="block-container mt-footer-bg">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFLex="30%" fxFlex.lt-md="33%" fxFlex.lt-sm="90%">
      <img
        src="../../../assets/img/logo/logo_v2.svg"
        alt="moneytor.in"
        width="256px"
        height="39px"
      />
      <mt-body-large class="txt-secondary my-10"
        >Moneytor Helps You Collect More</mt-body-large
      >
    </div>
    <div fxLayout="column" fxFLex="30%" fxFlex.lt-md="33%" fxFlex.lt-sm="90%">
      <mt-h3>Quick Links</mt-h3>
      <ng-container *ngFor="let item of quickLinks">
        <mt-body-large>
          <a class="mt-btn link secondary" (click)="onLinksAction(item)">{{
            item.name
          }}</a>
        </mt-body-large>
      </ng-container>
    </div>
    <div fxLayout="column" fxFLex="30%" fxFlex.lt-md="33%" fxFlex.lt-sm="90%">
      <mt-h3>Company</mt-h3>
      <ng-container *ngFor="let item of companyLinks">
        <mt-body-large>
          <a class="mt-btn link secondary" (click)="onLinksAction(item)">{{
            item.name
          }}</a>
        </mt-body-large>
      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngIf="showModal">
  <mt-modal
    [title]="modalData.header"
    [buttons]="modalBtns"
    (onAction)="onModalAction($event)"
  >
    <div [innerHTML]="modalData.body"></div>
    <!-- {{modalData.body}} -->
  </mt-modal>
</ng-container>
