<div class="block-container mt-footer-bg">
  <div
    class="links"
    fxLayout="row"
    fxLayout.lt-sm="row wrap"
    fxLayoutAlign="space-around"
    fxlayoutAlign.lt-sm="space-between"
  >
    <div
      class="logo"
      fxLayout="column"
      fxFLex="30%"
      fxFlex.lt-md="33%"
      fxFlex.lt-sm="100%"
    >
      <img
        src="../../../assets/img/logo/logo_light.svg"
        alt="moneytor.in"
        width="200px"
        height="39px"
      />
      <mt-body-large class="txt-secondary my-10"
        >Moneytor Helps You Collect More</mt-body-large
      >
    </div>
    <div fxLayout="column" fxFLex="30%" fxFlex.lt-md="33%" fxFlex.lt-sm="40%">
      <mt-h3>Quick Links</mt-h3>
      <ng-container *ngFor="let item of quickLinks">
        <mt-body-large class="mb-0">
          <a class="mt-btn link secondary" (click)="onLinksAction(item)">{{
            item.name
          }}</a>
        </mt-body-large>
      </ng-container>
    </div>
    <div fxLayout="column" fxFLex="30%" fxFlex.lt-md="33%" fxFlex.lt-sm="40%">
      <mt-h3>Company</mt-h3>
      <ng-container *ngFor="let item of companyLinks">
        <mt-body-large class="mb-0">
          <a class="mt-btn link secondary" (click)="onLinksAction(item)">{{
            item.name
          }}</a>
        </mt-body-large>
      </ng-container>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="80%" fxFlex.lt-md="95%" fxFlex.lt-sm="90%">
        <div class="footer-border mb-10"></div>
        <div
          fxLayout="row"
          fxLayout.lt-sm="row wrap-reverse"
          fxLayoutAlign.lt-sm="center center"
          fxLayoutAlign="space-between"
        >
          <div fxLayout="column">
            <mt-body-large class="txt-secondary"
              >© Copyright 2020 Moneytor Inc. All rights reserved.
            </mt-body-large>
          </div>
          <div fxLayout="column">
            <div fxLayout="row">
              <ng-container *ngFor="let item of socialLinks">
                <mt-btn
                  class="icon white mr-10"
                  (onAction)="accessSocialLinks(item.link)"
                >
                  <span [ngClass]="item.icon"></span>
                </mt-btn>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="showModal">
    <mt-modal
      [title]="modalData.header"
      [buttons]="modalBtns"
      (onAction)="onModalAction($event)"
    >
      <div class="p-15" [innerHTML]="modalData.body"></div>
    </mt-modal>
  </ng-container>
</div>
