<div>
  <div fxFlex="100%" fxLayoutAlign="center">
    <mt-h1 class="txt-black ta-c">{{ 'OurRecentPosts' | translate }}</mt-h1>
  </div>
</div>

<div
  class="box-container blogs"
  style="padding-left: 35px; padding-right: 35px;"
>
  <div class="horizontal-container" fxLayout="column" fxFlex="100%">
    <div
      class="content-container"
      fxLayout="column"
      fxFlex="auto"
      style="padding-left: 0; padding-right: 0;"
    >
      <swiper
        #swiperContainer
        *ngIf="show"
        class="swiper-container"
        [config]="config"
        [disabled]="false"
        (indexChange)="onIndexChange($event)"
        (swiperTransitionStart)="onSwiperEvent('transitionStart')"
        (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
        fxFlex="auto"
      >
        <div
          *ngFor="let blog of blogs; let i = index"
          class="swiper-slide no-padding"
          style="padding-left: 0; padding-right: 0;"
        >
          <div
            class="mt-card no-padding full-height"
            matRipple
            matRippleColor="rgba(142, 155, 250, 0.196)"
            (click)="gotToBlog(blog.link)"
            fxFlex="100%"
            fxFlex.xs="100%"
          >
            <div
              class="mt-card-header"
              style="height: 55%; width: 268px; border-radius: 5px;"
            >
              <img
                style="object-fit: cover;"
                [src]="blog.src"
                (error)="updateUrl($event)"
                width="100%"
                height="100%"
                [ngClass]="imgErr ? 'default-imgBg' : ''"
              />
            </div>
            <div class="mt-card-body">
              <mt-h2>{{ blog.title }}</mt-h2>
              <div class="mt-card-footer absolute">
                <mt-body-large class="txt-secondary"
                  >{{ 'by ' + blog.createdBy + ' | '
                  }}{{ blog.time | date: 'dd MMM y' }}</mt-body-large
                >
              </div>
            </div>
          </div>
        </div>
      </swiper>
    </div>
  </div>
</div>
<div class="mt-pagination-wrapper">
  <div class="mt-pagination mt-blog-pg"></div>
</div>
