<div
  class="mt-container"
  [class.is-mobile]="mobileQuery.matches"
  (scroll)="onScroll($event)"
>
  <mat-sidenav-container class="mt-sidenav-container">
    <mat-sidenav
      #sideNav
      mode="over"
      [opened]="mobileQuery.matches ? false : false"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <ng-container *ngFor="let navItem of navItems">
          <a
            mat-list-item
            routerLinkActive="mt-nav-active"
            [ngClass]="navItem.class"
            (click)="navigateTo(navItem)"
            >{{ navItem.name }}</a
          >
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar
        class="mt-toolbar"
        [ngClass]="sideNav.opened ? 'side-bar-open' : 'side-bar-closed'"
      >
        <mt-btn
          *ngIf="mobileQuery.matches"
          [class]="logo === 'logo_light' ? 'icon white' : 'icon'"
          fxHide="false"
          (click)="sideNav.toggle()"
        >
          <span class="ic_burger"></span>
        </mt-btn>
        <a [ngClass]="mobileQuery.matches ? 'mobile-logo-align' : ''">
          <img src="../../../assets/img/logo/{{ logo }}.svg" height="40" />
        </a>
        <span class="spacer"></span>
        <div
          fxLayout="row"
          class="nav-item-container"
          *ngIf="!mobileQuery.matches"
        >
          <ng-container *ngFor="let navItem of navItems">
            <a
              matRipple
              class="mt-toolbar-item"
              routerLinkActive="mt-nav-active"
              [ngClass]="navItem.class"
              (click)="navigateTo(navItem)"
              >{{ navItem.name }}</a
            >
          </ng-container>
        </div>
      </mat-toolbar>
      <div class="mt-page-wrapper">
        <router-outlet></router-outlet>
        <mt-footer></mt-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
