@import '~@angular/material/theming';

.mt-privacy-policy {
  position: relative;
  height: calc(100vh - -1008px);
  line-height: 23px;
  background: #bccddd;
  .privacyPolicy {
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    //   max-width: $max-width;
    width: 80%;
    .privacyContent {
      height: 140px;
      position: relative;
      z-index: -1;
      .cardHeader {
        h3 {
          text-align: center;
          font-size: 24px;
          padding-bottom: 60px;
        }
      }
      .cardContent {
        p {
          padding-bottom: 20px;
        }
        ol {
          .bold {
            font-weight: 700;
            font-size: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
          }
          ul {
            li {
              padding: 8px 0;
              // color: #888;
            }
          }
        }
      }
    }
  }
}
