<div class="mt-privacy-policy" id="privacyPolicy">
  <div class="privacyPolicy">
    <div class="privacyContent">
      <div class="cardHeader">
        <h3>Website Usage Privacy Policy</h3>
      </div>
      <!-- <div> -->
      <div class="cardContent">
        <p>
          This document constitutes an electronic record in accordance with the
          Information Technology Act, 2000, and any relevant regulations,
          including the amended provisions relating to electronic records within
          various statutes as modified by the Information Technology Act, 2000.
          It is important to note that this electronic record is
          computer-generated and does not necessitate physical or digital
          signatures.
        </p>
        <p>
          Welcome to Moneytor, a debt resolution platform that aims to provide
          users with opportunities to clear their dues. At Moneytor, we are
          committed to protecting your privacy and the security of your personal
          information. This Privacy Policy ("Policy") outlines our practices
          concerning the collection, receipt, storage, use, and sharing of your
          Personal Data (defined below) when you use the website and other
          interactive Platforms and other services offered by Moneytor
          (“Platform”).
        </p>
        <ol class="olContent">
          <li class="bold">Consent</li>
          <ul>
            <li>
              By using our services or providing us with your information, you
              are acknowledging that you have read, comprehended, and agreed to
              the practices and policies outlined in this Policy. You also
              consent to our collection, use, and disclosure of your information
              as detailed in this Policy.
            </li>
            <li>
              Our Policy is subject to change without prior notice. We reserve
              the right, at our sole discretion, to change, amend, supplement,
              or delete portions of the terms within this Policy at any time. To
              stay informed about any modifications, we recommend that the Users
              of this Platform should periodically review this policy. If you
              disagree with this Policy at any time, please refrain from using
              our services or sharing your information with us. By continuing to
              use our services, you agree to the latest version of the Policy.
            </li>
            <li>
              If you are using our services on behalf of some other individual
              or any entity, you affirm that you have the authority to (i)
              accept this Policy on behalf of that individual or entity and (ii)
              provide consent on behalf of that individual or entity for us to
              collect, use, and disclose their Personal Data in accordance with
              this Policy.
            </li>
            <li>
              You confirm that you are at least 18 (Eighteen) years old and are
              voluntarily sharing your Personal Information.
            </li>
            <li>
              Our Website is accessible to individuals under the age of 18
              (Eighteen). We strongly advise parents and guardians to supervise
              the online activities of their minor children and consider using
              parental control tools to prevent the disclosure of Personal
              Information. We do not knowingly collect Personal Information from
              children without the consent of their parents/guardians. If you
              believe we may have unintentionally collected Personal Information
              from a child, please contact us at support@moneytor.in, and we
              will promptly delete that information.
            </li>
          </ul>
          <li class="bold">
            Information we collect
          </li>
          <ul>
            <li>
              Personal Information: This includes your Name, Date of birth, Age,
              Gender, Phone Number, Email address and other contact details that
              you provide when creating an account or using our services.
            </li>
            <li>
              Usage Data: We gather information about how you interact with our
              representatives, our Platform, our website and other services,
              including your IP address, device information, browser type, and
              the pages you visit.
            </li>
            <li>
              Cookies: We use cookies and similar tracking technologies to
              enhance your experience on our Platform and our website, and for
              analytics and marketing purposes. You can manage cookie
              preferences through your browser settings.
            </li>
            <li>
              Miscellaneous: Any other information willingly shared by you
            </li>
          </ul>
          <li class="bold">
            Data Security
          </li>
          <ul>
            <li>
              The platform follows reasonably strict measures to protect
              personal information from unauthorized access, disclosure,
              alteration, destruction and misuse. However, no data transmission
              or storage system can be guaranteed to be completely secure.
            </li>
            <li>
              The platform has links to other websites that may collect
              personally identifiable information. Moneytor is not responsible
              for the privacy practices and consent of those linked websites.
            </li>
          </ul>
          <li class="bold">
            Your Rights
          </li>
          <ul>
            <li>
              Moneytor provides all users the right to correct or delete their
              Personal Information, along with the opportunity to opt-out of
              receiving non-essential communication from us. This includes
              Moneytor newsletters and promotional and marketing related
              communication.
            </li>
            <li>
              To exercise your rights or inquire about your data or to opt out
              of cookies or data sharing please contact us at
              support@moneytor.in .
            </li>
            <li>
              Under General Data Protection Regulation (GDPR) we have a legal
              duty to protect any information provided by you on our platform
              through forms or any attachments. This information may be
              privileged or confidential and intended for the exclusive use of
              the original recipient.
            </li>

            <li>
              In accordance with the Information Technology Act, 2000, in case
              of any complaints, abuse or concerns with regards to content and
              or comment or breach of these terms shall be immediately reported
              at support@moneytor.in
            </li>
          </ul>
          <li class="bold">
            Contact Us
          </li>
          <ul>
            <li>
              If you have any questions, concerns, or feedback about this
              Privacy Policy or our data practices, please contact us at
              contact@moneytor.in or +91 8655831539 and our team will attempt to
              resolve your issues in a timely manner
            </li>
          </ul>
        </ol>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
