<div class="our-journey">
  <div>
    <div fxFlex="100%" fxLayoutAlign="center">
      <mt-h1 class="txt-black ta-c">Our Journey</mt-h1>
    </div>
  </div>
  <div class="block-container journeys">
    <div
      fxLayout="row"
      fxFlex="80%"
      fxLayoutAlign="space-around"
      class="row-wrap journey"
    >
      <ng-container *ngFor="let item of loans">
        <div
          fxLayout="column"
          class="ta-c mb-20"
          [ngStyle.lt-sm]="'width: 50%'"
          fxLayoutAlign="center center"
        >
          <img [src]="item.imgUrl" [alt]="'img'" height="113" width="124" />
          <mt-h2 class="mt-10 fnt-30">{{
            item.count | formatter: 'number'
          }}</mt-h2>
          <mt-h4 class="txt-secondary loan-num">{{ item.title }}</mt-h4>
        </div>
      </ng-container>
      <!-- <mt-body-large
        >3000000 accounts 2000000 borrowers 100000000 customer touch events
        500000 customer payments products - vehicle loans personal loans salary
        loans virtual cards</mt-body-large
      > -->
    </div>
  </div>
  <div
    *ngIf="false"
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxShow="false"
  >
    <div fxFlex="70%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center">
      <ng-container *ngFor="let client of clients">
        <div
          fxLayout="row"
          fxLayout.lt-md="column"
          class="my-20"
          fxLayoutAlign="space-around center"
        >
          <ng-container *ngFor="let cl of client.row">
            <div fxFlex="18%">
              <img [src]="cl.src" [alt]="cl.name" height="100" />
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- ngx swipper -->
<div>
  <div class="box-container clients">
    <div
      class="vertical-container"
      fxLayout="column"
      fxFlex="100%"
      fxFlex.xs="100%"
    >
      <div class="content-container" fxLayout="column" fxFlex="auto">
        <swiper
          #swiperEl
          *ngIf="show"
          class="swiper-container"
          [config]="config"
          [disabled]="false"
          (indexChange)="onIndexChange($event)"
          (swiperTransitionStart)="onSwiperEvent('transitionStart')"
          (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
          fxFlex="auto"
        >
          <div
            *ngFor="let cl of clients; let i = index"
            class="swiper-slide"
            matRipple
            matRippleColor="rgba(142, 155, 250, 0.196)"
          >
            <div class="mt-card-header-img bordered">
              <img [src]="cl.src" [alt]="cl.name" height="100" />
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </div>
  <div>
    <div class="mt-pagination-wrapper">
      <div class="mt-pagination mt-client-pg"></div>
    </div>
  </div>
</div>
