.journey {
  width: 100%;
  margin: 30px auto;
  .loan-num {
    font-size: 18px;
    font-weight: 500;
    padding-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .clients {
    width: 90%;
    margin: 0 auto;
  }

  .clients-logo {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .clients {
    width: 90%;
    margin: 0 auto;
  }

  .clients-logo {
    width: 100%;
  }
}
