<div>
  <div fxFlex="100%" fxLayoutAlign="center">
    <mt-h1 class="txt-black">Featured Media Coverage</mt-h1>
  </div>
</div>
<!-- ngx swipper -->
<div class="box-container">
  <div class="vertical-container" fxLayout="column" fxFlex="100%">
    <div class="content-container" fxLayout="column" fxFlex="auto">
      <swiper
        #swiperContainer
        *ngIf="show"
        class="swiper-container"
        [config]="config"
        [disabled]="false"
        (indexChange)="onIndexChange($event)"
        (swiperTransitionStart)="onSwiperEvent('transitionStart')"
        (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
        fxFlex="auto"
      >
        <div *ngFor="let slide of slides; let i = index" class="swiper-slide">
          <div
            class="mt-card"
            matRipple
            matRippleColor="rgba(142, 155, 250, 0.196)"
          >
            <div class="mt-card-header">
              <div class="mt-card-title txt-primary">
                {{ i + 1 }} {{ slide.title }}
              </div>
              <div class="mt-card-subtitle">{{ slide.subtitle }}</div>
            </div>
            <div class="mt-card-body">“{{ slide.body }}</div>
          </div>
        </div>
      </swiper>
    </div>
  </div>
</div>
<div class="box-container">
  <div fxFlex="100%" fxLayoutAlign="center">
    <mt-btn class="circle large m-5" (onAction)="onNext(false)">
      <span class="ic_arrow-left"></span>
    </mt-btn>
    <mt-btn class="circle large m-5" (onAction)="onNext(true)">
      <span class="ic_arrow-right"></span>
    </mt-btn>
  </div>
</div>
