.media {
  height: 100px;
  background: url(../../../../assets//img//page/quote.svg);
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 50px;
  padding-top: 30px;
}

.box-container {
  .full-height {
    height: 170px;
  }
}
