.media {
  height: 100px;
  background: url(../../../../assets//img//page/quote.svg);
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 50px;
  padding-top: 30px;
}

.coverage {
  margin: auto;
}

.box-container .full-height .mt-card-body {
  padding: 0 10px;
  font-size: 14px;
  color: #100022;
  overflow: hidden;
  max-height: calc(100% - 70px);
}
