<mat-form-field appearance="outline" class="moneytor-input" [ngClass]="class">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <mat-select
    [name]="placeholder"
    [placeholder]="placeholder"
    [required]="required"
    [(ngModel)]="model"
    [disabled]="disabled"
    [multiple]="multiple"
    (selectionChange)="onChange($event.value)"
    #filterSelect="ngModel"
  >
    <mat-option
      *ngFor="let option of items"
      [value]="value ? option[value] : option"
    >
      {{ display ? option[display] : option }}
    </mat-option>
  </mat-select>
</mat-form-field>
