@import '~@angular/material/theming';
@import 'palettes';
$light-color: #ffffff;
// custom background and foreground palettes
$mt-theme-background: (
  tranparant: transparent,
  base-bg: #f7f5f9,
  base: $light-color,
  background: $light-color,
  bg: $light-color,
  white: $light-color,
  primary: #6979f8,
  secondary: #808df9,
  dark-blue: #3b49f3,
  light-blue: #96a1fa,
  mt-green: #00c48c,
  dark-green: #43cf76,
  success: #00c48c,
  light-green: #a9e2b7,
  mt-pink: #be52f2,
  warning: orange,
  yellow: rgb(249, 249, 127),
  error: #ff647c,
  card: $light-color,
  checkbox: rgb(112, 98, 98),
  checkbox-border: #afaab9,
  radio-border: #a5affb,
  chip-background: #e5e7fa,
  disabled-input: #ebeaec,
  disable-button: #ece9f1,
  disabled: #ece9f1,
  shadow1: rgba(0, 0, 0, 0.07),
  disabled-border: rgba(128, 128, 128, 0.95),
  gray: #d9d9d9,
  blue-gray: #f2f3ff,
  light-gray: #f5f5f5,
  purple: #663399,
  voilet-dark: #190036,
  voilet-light: #221849,
  blur: rgba(0, 0, 0, 0.6),
  phone: rgba(144, 196, 218, 1),
  sms: #02c075,
  email: #499fcc,
  field: #f5a623,
  ivr: #21d3cd,
  whatsapp: rgb(37, 211, 102),
);

$mt-theme-foreground: (
  base: $light-color,
  text: #100022,
  secondary-text: #a099a6,
  link: #2522dd,
  checkbox: rgb(112, 98, 98),
  icon: #d0c9d6,
  chip-icon: #100022,
  divider-color: #ece9f1,
  black: black,
  light-black: #636363,
);

$mt-shadows: (
  shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16),
  shadow1: rgba(52, 47, 51, 0.63) 0px 2px 5px 0px,
  bg-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07),
  mat-shadow:
    '0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12)',
);

@function moneytor-light-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mt-theme-foreground,
    background: $mt-theme-background,
    shadows: $mt-shadows
  );
}
