$mt-white: #ffffff;
$mt-black: #000000;

// Primary color
$mt-primary-color: (
  50: #edeffe,
  100: #d2d7fd,
  200: #b4bcfc,
  300: #96a1fa,
  400: #808df9,
  500: #6979f8,
  600: #6171f7,
  700: #5666f6,
  800: #4c5cf5,
  900: #3b49f3,
  A100: $mt-white,
  A200: $mt-white,
  A400: #d8dbff,
  A700: #bec3ff,
  contrast: (
    50: $mt-black,
    100: $mt-black,
    200: $mt-black,
    300: $mt-black,
    400: $mt-black,
    500: $mt-white,
    600: $mt-white,
    700: $mt-white,
    800: $mt-white,
    900: $mt-white,
    A100: $mt-black,
    A200: $mt-black,
    A400: $mt-black,
    A700: $mt-black,
  ),
);

// Accent Color
$mt-accent-color: (
  50: #f7eafd,
  100: #eccbfb,
  200: #dfa9f9,
  300: #d286f6,
  400: #c86cf4,
  500: #be52f2,
  600: #b84bf0,
  700: #af41ee,
  800: #a738ec,
  900: #9928e8,
  A100: $mt-white,
  A200: #f9f2ff,
  A400: #e3bfff,
  A700: #d8a6ff,
  contrast: (
    50: $mt-black,
    100: $mt-black,
    200: $mt-black,
    300: $mt-black,
    400: $mt-black,
    500: $mt-white,
    600: $mt-white,
    700: $mt-white,
    800: $mt-white,
    900: $mt-white,
    A100: $mt-black,
    A200: $mt-black,
    A400: $mt-black,
    A700: $mt-black,
  ),
);

// Warn Color
$mt-warn-color: (
  50: #ffecef,
  100: #ffd1d8,
  200: #ffb2be,
  300: #ff93a3,
  400: #ff7b90,
  500: #ff647c,
  600: #ff5c74,
  700: #ff5269,
  800: #ff485f,
  900: #ff364c,
  A100: $mt-white,
  A200: $mt-white,
  A400: #ffe0e3,
  A700: #ffc7cc,
  contrast: (
    50: $mt-black,
    100: $mt-black,
    200: $mt-black,
    300: $mt-black,
    400: $mt-black,
    500: $mt-white,
    600: $mt-black,
    700: $mt-black,
    800: $mt-black,
    900: $mt-white,
    A100: $mt-black,
    A200: $mt-black,
    A400: $mt-black,
    A700: $mt-black,
  ),
);
