.clear-dept-bg {
  background: url('../../../../assets/img/page/clear-dept-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  padding-top: 67px;
}
.clear-dept-bg p {
  padding-top: 5px;
}
