.clear-dept-bg {
  background: url('../../../../assets/img/page/clear-dept-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  // background-color: #3d1b65;
}
