.clear-dept-bg {
  background: url('../../../../assets/img/page/clear-dept-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  padding-top: 67px;
  // background-color: #3d1b65;
  p {
    padding-top: 5px;
  }
  .input {
    width: 100%;
    padding: 20px 0 0 150px;
  }
}
