.testimonial-content {
  width: 100%;
  /* margin-left: 150px; */
  padding: 0 auto;

  .testimonial-container {
    height: 199px;

    .swiper-container {
      .testimonial-card {
        height: 199px;

        .testimonials {
          .statement {
            width: 555px;
            height: 95px;
            margin: 0 45px 24px 0;
            word-wrap: break-word;
            color: #2b292d;
          }

          .clientName {
            font-family: Avenir-Heavy;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            color: #2b292d;
          }

          .clientCity {
            font-family: Avenir-Book;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            color: rgba(43, 41, 45, 0.6);
          }

          .client-image {
            width: 72px;
            height: 72px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
