<ng-container *ngIf="counts && counts > limit">
  <div class="table-footer-wrapper">
    <div class="table-footer">
      <div class="mt-pagination-page">
        <mt-btn
          class="mt-page"
          [disabled]="currentPage === 1"
          (onAction)="goToPage(1)"
        >
          <mat-icon>first_page</mat-icon>
        </mt-btn>
        <mt-btn
          class="mt-page"
          [disabled]="currentPage === 1"
          (onAction)="goToPage(currentPage - 1)"
        >
          <mat-icon>chevron_left</mat-icon>
        </mt-btn>

        <mt-btn class="mt-page" *ngIf="currentPage - range > 1"> ... </mt-btn>

        <ng-container *ngFor="let page of pages | async">
          <mt-btn
            class="mt-page {{ currentPage === page ? 'active' : '' }}"
            (onAction)="goToPage(page)"
            [disabled]="currentPage === page"
            >{{ page }}</mt-btn
          >
        </ng-container>

        <mt-btn class="mt-page" *ngIf="currentPage + range > totalPages">
          ...
        </mt-btn>

        <mt-btn
          class="mt-page"
          [disabled]="currentPage === totalPages"
          (onAction)="goToPage(currentPage + 1)"
        >
          <mat-icon>chevron_right</mat-icon>
        </mt-btn>
        <mt-btn
          class="mt-page"
          [disabled]="currentPage === totalPages"
          (onAction)="goToPage(totalPages)"
        >
          <mat-icon>last_page</mat-icon>
        </mt-btn>
      </div>

      <div class="page-length-select">
        <mat-form-field appearance="outline" class="moneytor-input small">
          <mat-select
            name="pageLengh"
            placeholder="Page lenght"
            [(ngModel)]="limit"
            (selectionChange)="onLimitChange($event.value)"
          >
            <mat-option *ngFor="let page of pageLegths" [value]="page">
              {{ page }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-container>
