.h-25 {
  font-size: 16px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .isMobile {
    display: none;
  }

  .offering-content {
    align-items: center;
  }

  .txt-primary {
    padding-top: 35px;
  }

  .mt-pagination-wrapper {
    width: 100%;
  }
}
