<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" fxLayoutAlign="center">
    <mt-h1 class="txt-black ta-c">Our Offerings</mt-h1>
  </div>
</div>
<div class="isMobile" *ngIf="!isMobile" fxLayoutAlign="center">
  <div fxFlex="70%" fxFlex.xs="90%" fxFlex.sm="75%">
    <ng-container *ngFor="let offer of offers">
      <div
        [fxLayout]="offer.reverse ? 'row-reverse' : 'row'"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-around center"
        class="my-20"
      >
        <div fxFlex="30%" fxFlex.xs="100%">
          <img
            [src]="offer.img.imgUrl"
            [alt]="offer.img.name + offer.img.height"
            height="50%"
            width="100%"
          />
        </div>

        <div
          class="offering-content"
          fxLayout="column"
          fxFlex="38%"
          fxFlex.xs="100%"
        >
          <mt-h1 class="txt-primary">{{ offer.title }}</mt-h1>
          <mt-body-large class="desc" fxFlex="40%">{{
            offer.description
          }}</mt-body-large>
          <mt-btn
            class="{{ offer.btn.class }} my-20 h-25"
            (onAction)="buttonAction()"
            >{{ offer.btn.name }}</mt-btn
          >
        </div>
      </div>
    </ng-container>
  </div>
</div>
