.h-25 {
  font-size: 16px;
  font-weight: 900;
}

h1 {
  color: #6979f8;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  margin-top: 15px;
}

.my-20 {
  margin: 20px 0;
}

.offer-set {
  margin: 10px 0;
  text-align: center;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

.mobile-buttons {
  margin-top: 20px;
}

.show-more-icon {
  cursor: pointer;
  width: 14px;
  height: 7px;
  transition: transform 0.3s;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-down {
  transform: rotate(0deg);
}

.description {
  margin-top: 10px;
  font-size: 16px;
  width: 185px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #fff;
  color: #6979f8;
  border: none;
  border-radius: 5px;
  border: 2px solid #6979f8;
  width: 188px;
  height: 55px;
  cursor: pointer;
  margin-left: 5px;
  padding-bottom: 15px;
}

.offering {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  box-sizing: border-box;
  margin-left: 65px;
  margin-top: 105px;
  margin-right: 65px;
}

h2 {
  color: #6979f8;
  padding-bottom: 15px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  padding-top: 15px;
}

p {
  color: #100022;
  padding-bottom: 15px;
  font-size: 16px;
  font-style: normal;
  padding-top: 15px;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .offering {
    width: 48%;
    margin: 20px auto;
    display: inline-block;
    vertical-align: top;
    height: 330px;
    overflow: hidden;
  }

  h2,
  p {
    text-align: center;
    margin: 10px 0;
    padding-top: 15px;
  }

  .custom-button {
    display: block;
    margin: 20px auto;
  }
}

@media screen and (max-width: 600px) {
  .offering {
    margin: 20px auto;
    width: 100%;
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    text-align: center;
    position: relative;
  }

  h2,
  p {
    padding-bottom: 0;
  }

  .custom-button {
    display: block;
    margin: 20px auto;
  }

  .offering:first-child {
    position: relative;
    padding-top: 25px;
  }

  .offering:first-child::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
  }

  .offering:first-child::before {
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  .description {
    font-size: 10px;
    width: 95px;
  }
}
