<section class="terms-section">
  <h2>Terms and Conditions</h2>
  <p>
    By using Moneytor, you agree to our terms of service. Please note that all
    services rendered are final, and we do not offer refunds for any reason. Our
    platform is designed to deliver consistent value through automation and
    insights. We encourage users to review their service scope carefully before
    proceeding. <br />
    Please make sure to read the full
    <a
      href="assets/docs/Terms and Conditions.pdf"
      target="_blank"
      rel="noopener noreferrer"
      >Terms and Conditions document</a
    >
    before using our services.
  </p>
</section>
