<div class="mt-modal blur" [ngClass]="variant">
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-header">
        <mt-h3 class="modal-title">{{ title }}</mt-h3>
        <span class="sp"></span>
        <mt-btn class="icon error" (onAction)="onClickAction(false)">
          <span class="ic_cross"></span>
        </mt-btn>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <ng-container *ngFor="let btn of buttons">
          <mt-btn
            [class]="btn.class"
            [id]="btn.label"
            (onAction)="onClickAction(btn.submit)"
            [disabled]="disabled"
            >{{ btn.label }}</mt-btn
          >
        </ng-container>
      </div>
    </div>
  </div>
</div>
