<mat-form-field class="moneytor-input" [ngClass]="class">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input
    matInput
    [type]="type"
    [name]="placeholder"
    [placeholder]="placeholder"
    [required]="required"
    [pattern]="pattern"
    [(ngModel)]="model"
    [disabled]="disabled"
    (ngModelChange)="onModelChange($event)"
  />
  <mt-btn
    matSuffix
    [class]="hide ? 'icon' : 'icon warning'"
    *ngIf="inputType === 'password'"
    (onAction)="showHidePass($event)"
  >
    <mat-icon class="mt-icon-size">{{
      hide ? 'visibility' : 'visibility_off'
    }}</mat-icon>
  </mt-btn>

  <mt-btn matSuffix class="icon" *ngIf="iconPlace == 'post'">
    <mat-icon class="mt-icon-size">{{ icon }}</mat-icon>
  </mt-btn>

  <mt-btn matPrefix class="icon" *ngIf="iconPlace == 'pre'">
    <mat-icon class="mt-icon-size">{{ icon }}</mat-icon>
  </mt-btn>
</mat-form-field>
