// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@include mat-core();

@import 'theme/palettes';
@import 'theme/light-theme';
@import 'theme/dark-theme';
@import 'theme/global';
@import 'theme/base';

@import 'assets/scss/common';
@import 'assets/scss/button';
@import 'assets/scss/input';
@import 'assets/scss/nav';
@import 'assets/scss/layouts';
@import 'assets/scss/card';

@import 'theme/fonts';

// Typography
$moneytor-typography: mat-typography-config(
  $font-family: 'Avenir-LT-Std-Book',
  $headline: mat-typography-level(34px, 1.21, 900),
  $title: mat-typography-level(22px, 1.27, 900),
  $subheading-2: mat-typography-level(17px, 1.29, 900),
  $subheading-1: mat-typography-level(15px, 1.33, 900),
  $body-1: mat-typography-level(16px, 2, 400),
  $body-2: mat-typography-level(13px, 1.38, 400),
  $caption: mat-typography-level(11px, 1.18, 400),
  $display-1: mat-typography-level(17px, 1.29, 500),
  $display-2: mat-typography-level(13px, 1.38, 500),
  $display-3: mat-typography-level(11px, 1.18, 500),
  $button: mat-typography-level(17px, 20px, 500),
  $input: mat-typography-level(15px, 1.33, 400),
);

// Primary, Secondary and Warn
$mt-theme-primary: mat-palette($mt-primary-color);
$mt-theme-accent: mat-palette($mt-accent-color);
$mt-theme-warn: mat-palette($mt-warn-color);

// for light theme
$light-theme: moneytor-light-theme(
  $mt-theme-primary,
  $mt-theme-accent,
  $mt-theme-warn
);

$dark-theme: moneytor-dark-theme(
  $mt-theme-primary,
  $mt-theme-accent,
  $mt-theme-warn
);

@mixin custom-components-theme($theme) {
  @include baseTheme($theme);
  @include commonStyle($theme);
  @include buttonStyle($theme);
  @include inputStyle($theme);
  @include navBarStyle($theme);
  @include layoutStyle($theme);
  @include cardStyle($theme);
}

@include angular-material-theme($light-theme);
@include custom-components-theme($light-theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}
@include angular-material-typography($moneytor-typography);
