<section class="section">
  <div class="home-bg">
    <div class="block-container">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
        <div fxFlex="45%" fxFlex.md="40%" fxFlex.xs="100%">
          <div fxLayout="column" class="pl-10">
            <h1 class="title-large" [innerHTML]="homeSection.title"></h1>
            <h4 class="title-small" [innerHTML]="homeSection.subTitle"></h4>
            <mt-btn class="large white">
              Schedule a demo
              <span class="ic_next ml-10"></span>
            </mt-btn>
          </div>
        </div>
        <div fxFlex.sm="60%" fxShow="false" fxShow.gt-sm *ngIf="bg">
          <img
            [src]="baseURL + bg"
            alt="Moneytor home screen image"
            height="100%"
          />
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100%">
          <div fxLayout="column" fxLayoutAlign="center center">
            <mt-btn class="icon white">
              <span class="ic_download"></span>
            </mt-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- second section -->

  <div class="block-container">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="55%" fxFlex.xs="100%" fxFlex.sm="80%" class="ta-c">
        <mt-h1>{{ secondSection.line1 }}</mt-h1>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="47%" fxFlex.xs="100%" fxFlex.sm="70%" class="ta-c">
        <mt-body-large>{{ secondSection.line2 }}</mt-body-large>
      </div>
    </div>
  </div>

  <!-- our Investors Section -->
  <div class="block-container mt-inv-bg">
    <mt-investors
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-investors>
  </div>

  <!-- we are Offerings for Enterprises Section -->
  <div class="block-container">
    <mt-offering
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-offering>
  </div>

  <!-- for media coverage -->
  <div class="block-container mt-media-cov-bg">
    <mt-media-coverage
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-media-coverage>
  </div>
  <div class="block-container">
    <mt-clients
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-clients>
  </div>
</section>
