<section class="section">
  <div class="home-bg" id="home">
    <div
      class="block-container"
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="space-around flex-start"
      fxLayoutAlign.lt-sm="flex-start center"
    >
      <div
        fxLayout="row"
        fxFlex="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="0 0 auto"
        fxLayoutAlign="space-around center"
        fxLayoutAlign.lt-sm="center center"
      >
        <div
          fxLayout="column"
          class="my-20"
          fxLayoutAlign.lt-sm="center center"
        >
          <h1
            class="title-large"
            fxFlexOrder.sx="1"
            [innerHTML]="homeSection.title"
          ></h1>
          <h4
            class="title-small"
            fxFlexOrder.sx="2"
            [innerHTML]="homeSection.subTitle"
          ></h4>
          <mt-btn
            class="large white mt-25"
            fxFlexOrder.sx="4"
            (onAction)="getStarted()"
          >
            Get started
            <span class="ic_next ml-10"></span>
          </mt-btn>
        </div>
      </div>
      <div
        fxLayout="row"
        fxFlex="0 1 calc(50% - 32px)"
        fxFlexOrder.sx="3"
        fxFlex.lt-sm="0 0 auto"
        fxLayoutAlign="space-around center"
        fxLayoutAlign.lt-sm="center center"
      >
        <div
          fxLayout="column"
          class="my-20"
          fxLayoutAlign.lt-sm="center center"
        >
          <img
            [src]="bg"
            alt="Moneytor home screen image"
            height="90%"
            width="90%"
          />
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="cicular-icon-home">
            <div class="mt-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- second section -->
  <div class="block-container animated fadeInUp slow" id="about">
    <div class="h1" fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="65%" fxFlex.xs="100%" fxFlex.sm="80%" class="ta-c">
        <mt-h1>{{ secondSection.line1 }}</mt-h1>
      </div>
    </div>
    <div fxLayout="row wrap" class="mt-body" fxLayoutAlign="center center">
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="70%" class="ta-c">
        <mt-body-large>{{ secondSection.line2 }}</mt-body-large>
      </div>
    </div>
  </div>

  <!-- our Investors Section -->
  <div class="block-container mt-inv-bg animated fadeInUp slow" id="investors">
    <mt-investors
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-investors>
  </div>

  <!-- we are Solutions Section -->
  <div class="block-container animated fadeInUp slow" id="solutions">
    <mt-offering
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-offering>
  </div>

  <!-- for media coverage -->
  <div
    class="block-container mt-media-cov-bg animated fadeInUp slow"
    id="media"
  >
    <mt-media-coverage
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-media-coverage>
  </div>

  <!-- our clients section -->
  <div class="block-container animated fadeInUp slow" id="clients">
    <mt-clients
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-clients>
  </div>

  <!-- contact us section -->
  <div
    class="block-container mt-contact-bg animated fadeInUp slow"
    id="reachus"
  >
    <mt-contact-us
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-contact-us>
  </div>

  <!-- clear dept section -->
  <div class="block-container animated fadeInUp slow" id="clear_dept">
    <mt-clear-dept
      [isMobile]="mobileQuery.matches"
      [baseURL]="baseURL"
    ></mt-clear-dept>
  </div>

  <!-- our Recent blogs section -->
  <div class="block-container animated fadeInUp slow" id="blogs">
    <mt-blogs [isMobile]="mobileQuery.matches" [baseURL]="baseURL"></mt-blogs>
  </div>
</section>
