.home-bg {
  background: url('../../../../assets/img/page/bg.png') no-repeat;
  background-position: -80px -40px;
  min-height: calc(783px + 132px);
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 20px;
}

.h1 {
  padding-top: 70px;
}

@media screen and (max-width: 1440px) {
  .title-large {
    font-size: 300%;
    font-weight: 300;
  }

  .large {
    font-size: 14px;
    font-weight: 900;
  }
}

@media screen and (max-width: 959px) {
  .home-bg {
    background: #5845d8;
    min-height: calc(100vh - 150px);
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .title-large {
    font-size: 30px;
  }
  .title-small {
    font-size: 16px;
  }

  .large {
    font-size: 14px;
    margin-top: 2px;
    padding: 2px;
  }

  .my-20 {
    height: 150%;
  }
}

@media screen and (max-width: 320px) {
  .title-small {
    font-size: 8px;
  }
}
